$list: 0,3,5,8,10,12,15,20,25,30,35,40,45,50,60,70,75,90,100,120,150;
$list_weights: 300,400,600,700;
$list_font_sizes: 10,12,14,16,18,20,22,24,26,28,32,36,42,48;
$list_line_height: 14,16,18,20,22,24,26,28,32,36,40,46,52;